@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thread Haven</h1>
    <p>A clothing store made just for you.</p>
    <p>The current time @ViewData["timestamp"]</p>
</div>
